

<%= form_for @photo do |form| %>
    <%= render partial: '/photos/form', object: form %>

<% end %>

<% if @uploaded_photo.present? %>

  <div class="col-md-3">

    <%= image_tag @uploaded_photo.image.url %>
    
</div>

<% end %>

<%= form_tag photos_detect_path, method: :post do %>
  <%= submit_tag 'Analyze image' %>
<% end %>


