

<div class= "row">
  <div class="col-md-3">
<% if @photo.present? %>

    <%= image_tag @photo.image.url %>
    <% end %>
</div>


</div>

<% if @photo.description.present? %>
	<% @photo.description.each do |label| %>
		<p><%= label["name"] %>, <%= label["confidence"].to_i %>%</p>
	<% end %>
<% else %>
<%= form_tag photos_detect_path, method: :post do %>
<%= hidden_field_tag :photo_id, params[:id] %>
  <%= submit_tag 'Analyze image' %>
<% end %>

<% end %>
