<!DOCTYPE html>
<html>
  <head>
    <title>Image Recognition</title>

    <%= csrf_meta_tags %>
    <!--Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker:400' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <div class="container">
       <div class="container">
         <%= flash_messages %>
       </div>
    <%= yield %>
     </div>
  </body>
</html>
